body {
  background: linear-gradient(to bottom, #eeeeee, #ffffff, #ffffff #ffffff, #ffffff);
}

.bg-body-tertiary {
  background-color: transparent !important;
}

.btn-outline-success {
  --bs-btn-color: #000000;
  --bs-btn-border-color: #000000;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
}

#projects-show {
  margin-top: 10%;
  margin-left: 5%;
}

.container-show {
  display: flex;
}

.img-thumbnail {
  width: 400px;
  padding: 0px;
  box-shadow: 0 4px 10px rgba(194, 194, 194, 0.7);
}

.img-box {
  position: relative;
  display: inline-block;
  margin: 2%;
}

.img-box img {
  display: block;
}

/* overlay hidden by default */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.75);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 25% 15%;
}

.overlay h3 {
  font-size: 30px;
  font-weight: 600;
  color: black;

}

.overlay h5 {
  font-size: 22px;
  font-weight: 400;
  color: rgb(79, 78, 78);
}

/* show on hover */
.img-box:hover .overlay {
  opacity: 1;
}

.projectPhoto-box .img-thumbnail {
  width: 750px;
}

.text {
  margin-top: 15%;
}

.text h3 {
  font-size: 40px;
  color: black;
}

.text h5 {
  margin-top: 3%;
  font-size: 25px;
  color: rgb(79, 78, 78);
}

.carousel-indicators {
  margin-bottom: 10rem;
  margin-left: 25%;
}

.carousel-indicators [data-bs-target] {
  background-color: #000000;
}