body {
  background: linear-gradient(to bottom, #eeeeee, #ffffff, #ffffff #ffffff, #ffffff);
}

.bg-body-tertiary {
  background-color: transparent !important;
}

#projects-show {
  margin-top: 15%;
  margin-left: 15%;
}

.container-show {
  display: flex;
}

.img-thumbnail {
  width: 300px;
  padding: 0px;
  box-shadow: 0 4px 10px rgba(194, 194, 194, 0.7);
}

.img-box {
  position: relative;
  display: inline-block;
  margin: 2%;
}

.img-box img {
  display: block;
}

/* overlay hidden by default */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.75);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 25% 15%;
}

.overlay h3 {
  font-size: 30px;
  font-weight: 600;
  color: black;

}

.overlay h5 {
  font-size: 22px;
  font-weight: 400;
  color: rgb(79, 78, 78);
}

/* show on hover */
.img-box:hover .overlay {
  opacity: 1;
}